.footer{
    width: 100vw;
    height: 4rem;
    background-color: rgba(0, 156, 240, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:300 ;
    font-size: small;
    
}

.foottext{
    text-align: center;
}